.contact-container {
    display: flex;
  }
  
  .contact-gif-container {
    flex: 0 0 65%;
  }
  
  .contact-form-container {
    flex: 0 0 35%;
  }
  
  .contact-gif {
    width: 100%;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-label {
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
  }
  
  .form-input,
  .form-textarea {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  .form-textarea {
    min-height: 100px;
  }
  
  .form-submit {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Media Queries */
  @media (max-width: 1000px) {
    .contact-container {
      flex-direction: column;
    }
  
    .contact-gif-container {
      display: none;
    }
  
    .contact-form-container {
      flex: 1;
    }
  }
  
  .contactUsTop{
    height: 10vh;
    width: 85vw;
    background-color: transparent;
}

.resume-icon{
  position: relative;
  left: 30%;
}

.resume-download-button {
  position: relative;
  top: 5px;
  display: inline-block;
  background-color: #4291a4;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  perspective: 800px;
}

.resume-download-button:hover {
  transform: rotateX(-10deg) translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resume-download-button span {
  display: inline-block;
  vertical-align: middle;
  transform-style: preserve-3d;
  transform-origin: center;
  backface-visibility: hidden;
}

.resume-download-button .arrow {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg) translateZ(7px);
  margin-left: 8px;
  animation: arrowAnimation 0.5s infinite;
}

@keyframes arrowAnimation {
  0% {
    opacity: 1;
    transform: rotateY(45deg) translateZ(7px);
  }
  50% {
    opacity: 0;
    transform: rotateY(45deg) translateZ(12px);
  }
  100% {
    opacity: 1;
    transform: rotateY(45deg) translateZ(7px);
  }
}
.resume-download-button {
  position: relative;
  display: inline-block;
  background-color: #6ed1f2;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  perspective: 800px;
  animation: buttonAnimation 0.8s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  transform-origin: bottom right;
  opacity: 0;
}

@keyframes buttonAnimation {
  0% {
    opacity: 0;
    transform: translateX(100%) rotate(-180deg);
  }
  70% {
    transform: translateX(0%) rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) rotate(0deg);
  }
}
